{% set showSidebar = false %}

{% extends "base.twig" %}

{% block extendHead %}
    <link rel="stylesheet" href="/{{ root }}/css/login.css">
    <script src="/{{ root }}/js/login/password_recovery.js"></script>
{% endblock %}

{% block content %}
    
    <div class="login-container">
        <h2><i class="fa-solid fa-key"></i> {{ t('password_recovery.title') }}</h2>
        <h6>{{ t('password_recovery.instructions') }}</h6>
        <div>
            <input type="text" id="username" name="username" required />
            <button onclick="onSubmit()">{{ t('password_recovery.send_instructions') }}</button>
        </div>
    </div>
    <script>
        passwordrecoveryInit({
            labels: {
                email_sent: "{{ t('password_recovery.email_sent') }}"
            }
        });
    </script>
    
{% endblock %}
