{% block sidebar %}

    <!-- abilitare solo per utenti ADMIN -->
    {% if user.role == 0 or user.role == 1 %}
        <div class="menu-item">    
            <a href="/{{ root }}/users/manage">
                <i class="fa-solid fa-users-between-lines"></i>
                <span>{{ t('users.manage.title') }}</span>
            </a>
        </div>

        <div class="menu-item">    
            <a href="/{{ root }}/vocabolaries/manage">
                <i class="fa-solid fa-book-bookmark"></i>
                <span>{{ t('users.vocabolaries.title') }}</span>
            </a>
        </div>

    {% endif %}

    <div class="menu-item">
        <a href="/{{ root }}/search/fast">
            <i class="fa-solid fa-magnifying-glass"></i>
            {{ t('search.fast.title') }}
        </a>
    </div>

    <div class="menu-item">
        <a href="/{{ root }}/search/advanced">
            <i class="fa-solid fa-magnifying-glass-dollar"></i>
            {{ t('search.advanced.title') }}
        </a>
    </div>

    {% if user.id > 0 %}
        <div class="menu-item">
            <a href="/{{ root }}/users/{{ cur_id }}">
                <i class="fa-solid fa-id-badge"></i>
                {{ t('users.profile.title') }}
            </a>
        </div>
        <div class="menu-item">
            <a href="/{{ root }}/">
                <i class="fa-solid fa-person-walking-arrow-right"></i>
                {{ t('exit') }}
            </a>
        </div>    
    {% else %}
        <div class="menu-item">
            <a href="/{{ root }}/">
                <i class="fa-solid fa-address-card"></i>
                {{ t('login.title') }}
            </a>
        </div>
    {% endif %}

{% endblock %}