{% extends 'v2/layout.twig' %}

{% block content %}

<section class="models-section credits-section">

  <header class="models-header credits-header">
    <h1>{{ t('introduzione.crediti.title') }}</h1>

    <p class="models-intro">
      {{ t('introduzione.crediti.intro') }}
    </p>
  </header>

  <section class="credits-block">
    <h2 class="credits-title">
      {{ t('introduzione.crediti.modeling_title') }}
    </h2>

    <p class="credits-text">
      {{ t('introduzione.crediti.modeling') }}
    </p>

      <p class="credits-list-title">
        {{ t('introduzione.crediti.department_sdara') }}
      </p>

      <ul class="credits-list">
        <li>Donatella Fiorani</li>
        <li>Chiara Porrovecchio</li>
        <li>Alessia Vaccariello</li>
      </ul>
  </section>

  <section class="credits-block">
    <h2 class="credits-title">
      {{ t('introduzione.crediti.it_development_title') }}
    </h2>

    <p class="credits-text">
      {{ t('introduzione.crediti.it_development') }}
    </p>

    <p class="credits-list-title">
      {{ t('introduzione.crediti.igea') }}
    </p>

    <ul class="credits-list">
      <li>Corrado Maddaluno</li>
      <li>Armando De Filippo</li>
    </ul>
  </section>

  <section class="credits-block">
    <h2 class="credits-title">
      {{ t('introduzione.crediti.logo_title') }}
    </h2>

    <ul class="credits-list">
      <li>Silvia Cutarelli</li>
    </ul>
  </section>

</section>

{% endblock %}