{% extends 'v2/layout.twig' %}

{% block content %}

<section class="models-section">

  <header class="models-header">
    <h1>{{ t('introduzione.modelli.title') }}</h1>
  </header>

  <div class="models-grid">

    <!-- CIDOC CRM -->
    <article class="model-card">
      <header class="model-card-header">
        <img src="/frontend/v2/images/models/Logo_CRM.png"
            alt="Logo CIDOC CRM"
            class="model-logo">

        <h2>CIDOC CRM</h2>
      </header>
      <p>
        {{ t('introduzione.modelli.cidoc_crm_1') }}
      </p>
      <p>
        {{ t('introduzione.modelli.cidoc_crm_2') }}
      </p>

      <a href="https://cidoc-crm.org"
        target="_blank"
        rel="noopener noreferrer">
          {{ t('introduzione.modelli.cidoc_crm_visit_site') }}
      </a>

    </article>

    <!-- CRMsci -->
    <article class="model-card">
      <header class="model-card-header">
        <img src="/frontend/v2/images/models/CRMsci.png"
            alt="Logo CRMsci"
            class="model-logo">

        <h2>CRMsci</h2>
      </header>
      <p>
        {{ t('introduzione.modelli.crmsci_1') }}
      </p>
      <p>
        {{ t('introduzione.modelli.crmsci_2') }}
      </p>
      <a href="https://cidoc-crm.org/crmsci"
        target="_blank"
        rel="noopener noreferrer">
          {{ t('introduzione.modelli.cidoc_sci_visit_site') }}
      </a>
    </article>

    <!-- CRMinf -->
    <article class="model-card">
      <header class="model-card-header">
        <img src="/frontend/v2/images/models/CRMinf.png"
            alt="CRMinf"
            class="model-logo">

        <h2>CRMinf</h2>
      </header>    
      <p>
        {{ t('introduzione.modelli.crminf_1') }}
      </p>
      <p>
        {{ t('introduzione.modelli.crminf_2') }}
      </p>
      <a href="https://cidoc-crm.org/crminf"
        target="_blank"
        rel="noopener noreferrer">
          {{ t('introduzione.modelli.cidoc_inf_visit_site') }}
      </a>
    </article>

    <!-- CPM -->
    <article class="model-card">
      <header class="model-card-header">
        <img src="/frontend/v2/images/models/Logo_CPM.png"
            alt="Logo CPM"
            class="model-logo">
        <h2>CPM</h2>
      </header>      
      <p>
        {{ t('introduzione.modelli.crmcpm_1') }}
      </p>
      <p>
        {{ t('introduzione.modelli.crmcpm_2') }}
      </p>
      <a href="https://editricesapienza.it/book/10676"
        target="_blank"
        rel="noopener noreferrer">
          {{ t('introduzione.modelli.cidoc_cpm_visit_site') }}
      </a>
    </article>

  </div>
</section>


{% endblock %}
