{% extends 'v2/layout.twig' %}

{% block content %}

<section class="system-page">

  <header class="system-header">
    <h1>{{ t('introduzione.partecipanti.title') }}</h1>
  </header>

  <p class="intro-text">
    {{ t('introduzione.partecipanti.intro')|raw }}
  </p>

  <ul class="department-banners">

    <li class="department-banner banner-sdara">
      <div class="department-overlay">
        <div class="department-name">
          {{ t('introduzione.partecipanti.departments.sdara.name') }}
        </div>
        <div class="department-people">
          {{ t('introduzione.partecipanti.departments.sdara.people') }}
        </div>
      </div>
    </li>

    <li class="department-banner banner-antichita">
      <div class="department-overlay">
        <div class="department-name">
          {{ t('introduzione.partecipanti.departments.antichita.name') }}
        </div>
        <div class="department-people">
          {{ t('introduzione.partecipanti.departments.antichita.people') }}
        </div>
      </div>
    </li>

    <li class="department-banner banner-terra">
      <div class="department-overlay">
        <div class="department-name">
          {{ t('introduzione.partecipanti.departments.terra.name') }}
        </div>
        <div class="department-people">
          {{ t('introduzione.partecipanti.departments.terra.people') }}
        </div>
      </div>
    </li>

    <li class="department-banner banner-biologia">
      <div class="department-overlay">
        <div class="department-name">
          {{ t('introduzione.partecipanti.departments.biologia.name') }}
        </div>
        <div class="department-people">
          {{ t('introduzione.partecipanti.departments.biologia.people') }}
        </div>
      </div>
    </li>

  </ul>

</section>

{% endblock %}