{% extends "/v2/layout.twig" %}

{% block extendHead %}
    <script src="/frontend/js/app/vue-users-manage.js"></script>
{% endblock %}

{% block content %}

<div id="manage-users"
     class="manage-users"
     data-root="frontend/v2"
     data-role_sudo="{{ t('users.role.sudo') }}"
     data-role_admin="{{ t('users.role.admin') }}"
     data-role_editor="{{ t('users.role.editor') }}"
     data-role_reader="{{ t('users.role.reader') }}"
     data-confirm_delete="{{ t('users.manage.confirm_delete') }}"
     data-cur_id="{{ cur_id }}"
     data-cur_role="{{ user.role }}">

    <header class="manage-users-header">
        <h1>{{ t('users.manage.title') }}</h1>

        <button type="button"
                class="icon-button"
                @click="newUser()"
                aria-label="{{ t('users.manage.new') }}"
                title="{{ t('users.manage.new') }}">
            <i class="fa-solid fa-user-plus" aria-hidden="true"></i>
        </button>
    </header>

    <table class="table manage-users-table">
        <caption class="visually-hidden">
            {{ t('users.manage.title') }}
        </caption>

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ t('users.manage.name') }}</th>
                <th scope="col">{{ t('users.manage.surname') }}</th>
                <th scope="col">{{ t('users.manage.username') }}</th>
                <th scope="col">{{ t('users.manage.email') }}</th>
                <th scope="col">{{ t('users.manage.role') }}</th>
                <th scope="col">
                    <span class="visually-hidden">{{ t('users.manage.edit') }}</span>
                </th>
                <th scope="col">
                    <span class="visually-hidden">{{ t('users.manage.delete') }}</span>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr v-for="user in users" :key="user.id">
                <td v-text="user.id"></td>
                <td v-text="user.name"></td>
                <td v-text="user.surname"></td>
                <td v-text="user.username"></td>
                <td v-text="user.email"></td>
                <td v-text="roleByCode(user.role)"></td>

                <td>
                    <button type="button"
                            class="icon-button edit-button"
                            @click="editUser(user.id)"
                            :aria-label="'{{ t('users.manage.edit') }} ' + user.username"
                            title="{{ t('users.manage.edit') }}">
                        <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i>
                    </button>
                </td>

                <td>
                    <button v-if="cur_id != user.id"
                            type="button"
                            class="icon-button delete-button"
                            @click="deleteUser(user.id)"
                            :aria-label="'{{ t('users.manage.delete') }} ' + user.username"
                            title="{{ t('users.manage.delete') }}">
                        <i class="fa-solid fa-trash-can" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

{% endblock %}