{% extends "/v2/layout.twig" %}

{% block extendHead %}
    <link rel="stylesheet" href="/frontend/css/login.css">
    <script src="/frontend/js/login/password_recovery.js"></script>
{% endblock %}

{% block content %}
    
    <div class="login-container">
        <h2><i class="fa-solid fa-key"></i> {{ t('password_recovery.title') }}</h2>
        <div>
                        
            <label for="password">{{ t('users.edit.password') }}</label>
            <input type="password" id="password" name="password" required />
            
            <label for="re_password">{{ t('users.edit.confirm_password') }}</label>
            <input type="password" id="re_password" name="re_password" required />

            <button onclick="onSubmitReset()">{{ t('users.edit.save') }}</button>
            
        </div>
    </div>
    <script>
        passwordrecoveryInit({
            user: {{ user.id}},
            token: "{{ user.token}}",
            labels: {
                reset_success: "{{ t('password_recovery.password_reset_success') }}",
                different_password: "{{ t('users.edit.different_password') }}",
                invalid_password: "{{ t('users.edit.invalid_password') }}"
            }
        });
    </script>
    
{% endblock %}
