{% set showSidebar = true %}
{% extends "../base.twig" %}

{% block extendHead %}
    <script src="/{{ root }}/js/app/vue-users-edit.js"></script>
{% endblock %}

{% block content %}

    <div id="edit-user"
        data-root="{{ root }}"
        data-role_sudo="{{ t('users.role.sudo') }}" 
        data-role_admin="{{ t('users.role.admin') }}" 
        data-role_editor="{{ t('users.role.editor') }}" 
        data-role_reader="{{ t('users.role.reader') }}" 
    >
        <h2 style="display:flex; justify-content:space-between; align-items:center;">
            {% if id == 0 %}
                <span>{{ t('users.edit.title') }}: {{ t('users.edit.new') }}</span>
            {% else %}
                <span>{{ t('users.edit.title') }} #{{id}}: {{ t('users.edit.update') }}</span>
            {% endif %}
        </h2>

        <form class="container mt-4" style="width:80%; margin-left:10%;">
            <div class="row g-3">
                
                <!-- Name -->
                <div class="col-md-6">
                <label for="name" class="form-label">{{ t('users.manage.name') }}</label>
                <input type="text" class="form-control" id="name" placeholder="">
                <div id="nameHelp" class="form-text"></div>
                </div>
                
                <!-- Surname -->
                <div class="col-md-6">
                <label for="surname" class="form-label">{{ t('users.manage.surname') }}</label>
                <input type="text" class="form-control" id="surname" placeholder="">
                <div id="surnameHelp" class="form-text"></div>
                </div>
                
                <!-- Username -->
                <div class="col-md-6">
                <label for="username" class="form-label">{{ t('users.manage.username') }}</label>
                <input type="text" class="form-control" id="username" placeholder="">
                <div id="usernameHelp" class="form-text"></div>
                </div>
                
                <!-- Email -->
                <div class="col-md-6">
                <label for="email" class="form-label">{{ t('users.manage.email') }}</label>
                <input type="email" class="form-control" id="email" placeholder="">
                <div id="emailHelp" class="form-text text-danger">
                    We'll never share your email with anyone else.
                </div>
                </div>
                
                <!-- Password -->
                <div class="col-md-6">
                <label for="password" class="form-label">{{ t('users.edit.password') }}</label>
                <input type="password" class="form-control" id="password" placeholder="">
                <div id="passwordHelp" class="form-text text-danger">
                    We'll never share your email with anyone else.
                </div>
                </div>
                
                <!-- Confirm Password -->
                <div class="col-md-6">
                <label for="password2" class="form-label">{{ t('users.edit.confirm_password') }}</label>
                <input type="password" class="form-control" id="password2" placeholder="">
                <div id="password2Help" class="form-text text-danger">
                    We'll never share your email with anyone else.
                </div>
                </div>
                
                <!-- Role -->
                <div class="col-md-6">
                    <label for="role" class="form-label">Role</label>
                    <select id="role" class="form-select">
                        <option value="0">{{ t('users.role.sudo') }}</option>
                        <option value="1">{{ t('users.role.admin') }}</option>
                        <option value="2">{{ t('users.role.editor') }}</option>
                        <option value="3">{{ t('users.role.reader') }}</option>
                    </select>
                </div>
                
                <!-- Buttons -->
                <div class="col-12 text-center mt-4">
                    <button @click="save()" type="submit" class="btn btn-primary me-2">{{ t('users.edit.save') }}</button>
                    <button @click="cancel()" type="button" class="btn btn-secondary">{{ t('users.edit.cancel') }}</button>
                </div>

            </div>
        </form>

    </div>

{% endblock %}